div{
    /*border: 2px solid red;*/
    text-align: center;
}
#head{
    background-color: bisque;
}
#apresentacao{
    text-align: center;
    
}

li{
    list-style-type: none;
}

#corpo{
    width: 700px;
    height: 700px;
    /*border: 2px solid red;*/
    margin: auto;
    margin-top: 15px;
    background-color: azure;
    
}
#corpo h4{
    text-align: left;
    background-color: brown;
    margin: 0px;
    color: aliceblue;
    font-size: 19px;
    padding: 10px;
}

#oportunidades{
    display: inline;
    width: 58%;
    margin-top: 0px;
    float: left;
    border: 2px solid red;
    text-transform: capitalize;
    
}
#colaboradores{
    width: 38%;
    display: inline;
    float: right;
    text-align: left;
    border: 2px solid red;
    text-transform: capitalize;
}
span{
    
    
}
#nome{
    
    text-transform: capitalize;
}

