
div{
    /*border: 2px solid red;*/
    text-align: center;
}
#head{
    background-color: bisque;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}
#apresentacao{
    text-align: center;
}
#menu li{
    display: inline;
    background-color: azure;
    padding: 12px;
    border-radius: 12px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -ms-border-radius: 12px;
    -o-border-radius: 12px;
    border: 2px solid rgb(230, 186, 186);
}
#menu li:hover{
    background-color: rgb(214, 253, 253);
}

#corpo{
    width: 700px;
    height: 700px;
    
    margin: auto;
    margin-top: 35px;
    background-color: azure;
    
}
#corpo h4{
    text-align: left;
    background-color: brown;
    margin: 0px;
    color: aliceblue;
    font-size: 19px;
    padding: 10px;
}

#oportunidades{
    display: inline;
    width: 58%;
    margin-top: 0px;
    float: left;
    /*border: 2px solid red;*/
    text-transform: capitalize;
    
}
#oportunidades #addOportunidades button{
    text-align: left;
}
#addOportunidades a{
    text-decoration: none;
    padding: 10px;
    float: right;
    text-align: right;
    /*margin: auto;*/
}
#oportunidades li .nomeOport a{
    float: left;
}
#oportunidades li .deletarOport button{
    float: right;
}
.clear{
    clear: both;
}

#head a{
    margin-right: 20px;    
    text-decoration: none;
    font-size: 19px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}
#colaboradores{
    width: 38%;
    display: inline;
    float: left;
    text-align: left;
    /*border: 2px solid red;*/
    text-transform: capitalize;
}

#colaboradores li{
    
    margin: 10px;
    padding: 10px;
    display: block;
    background-color: rgb(207, 207, 233);
}
#colaboradores li .nomeColab a{
    
    float: left;
}

#oportunidades li{
    margin: 10px;
    height: 90px;
    padding: 10px;
    display: block;
    background-color: rgb(182, 240, 232);
    text-align: left;
    position: relative;
}

#oportunidades li .descricaoOport span{
    position: relative;
    top: 20px;
    left: -10px;
}

#oportunidades li:hover{
    background-color: rgb(127, 218, 206);
}

#oportunidades_add li{
    height:100px;
    margin-top: 10px;
    /*padding-left: 200px;*/
    background-color: rgb(143, 143, 199);
    display: block;
    text-align: left;
    text-transform: capitalize;
    /*background-image: url('foto.jpeg');
    background-repeat: no-repeat;
    background-size: contain;*/
}
#oportunidades_add li:hover{
    background-color: rgb(127, 218, 206);
}
#oportunidades_add li img{
    height: 100px;
    width: 150px;
    float: left;
}

#oportunidades_add li a{
    margin-top: 45px;
    margin-left: 15px;
    text-decoration: none;
}

#nome{
    text-transform: capitalize;
}

